ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: rgb(252, 247, 248);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.navbar li a {
    display: block;
    color: rgb(91, 97, 106);
    padding: 8px 16px;
    text-decoration: none;
    font-family: usual, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navbar li a:hover {
    background-color: royalblue;
    color: white;
}

h1 {
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: usual, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 20px;
}

p {
    font-family: usual, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 30px;
}

img.menu {
    width: 150px;
    height: 150px;
}

h2.section {
    font-family: usual, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: royalblue;
    color: white;
    text-align: center;
    font-family: usual, sans-serif;
    font-weight: 300;
    font-style: italic;
}

.centermap {
    display: flex;
    align-items: center;
    justify-content: center;
}